@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body {
    background-color: rgb(203, 225, 123);
}

h1, h2, p, li {
    font-family: 'Lilita One', cursive;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 22px;
    line-height: 120%;
}

h4 {
    font-size: 22px;
}

li {
    color: black;
    text-align: left;
    font-size: 22px;
    line-height: 120%;
}

.left_side {
    text-align: left;
    margin-left: 2.5%;
}

.wrapper {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.collapsible {
    max-width: 80%;
    overflow: hidden;
    font-weight: 500;
    text-align: center;
    margin-left: 10%;
}

.collapsible input {
    display: none;
}

.collapsible label {
    position: relative;
    font-weight: 600;
    background: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: darkgreen;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
    z-index: 1;
}

.collapsible label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 25px;
    height: 25px;
    background: url(arrow.webp) no-repeat 0 0;
    background-size: contain;
    transition: all 0.3s ease;
    margin-top: 25px;
}

.collapsible input:checked + label::after {
    transform: rotate(90deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 18px;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text {
    max-height: 2000px;
    padding-bottom: 25px;
    background: rgba(255, 255, 255, 0.909);
    box-shadow:rgba(0, 0, 0, .1), rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}

.collapsible-text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: darkgreen;
}

.collapsible-text  p {
    padding-right: 15px;
    padding-left: 15px;
}

/* james */

.background1{
    background-image: url("91810.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(244, 237, 237, 0.3);
    opacity: 0.6;
}

header{
    text-align: center;
    font-family: 'Arial Black', sans-serif; 
    font-size: 30px; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    color: #3f35cf; 
    text-shadow: 1.5px 1.5px #000000;
    opacity: 1;
}

.center_text {
    text-align: center;
}

.bold_text {
    font-weight: bold;
    font-size: 24px;
    color: darkgreen;
}

.img {
    box-shadow: 0px 0px 5px #fff;
    width: 400;
    height: 250;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.float-left {
    float: left; 
    margin-right: 10px;
    margin-bottom: 100px;
}

.float-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 100px;
}

.theme-color {
    color: #3f35cf;
}

a {
    font-size: 20px; 
    border: 2px solid black; 
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
  }

.opaque {
    opacity: 1;
}
